.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
*.pdf
*.html
^PaluckMetaSOP\.Rproj$
^\.Rproj\.user$
^LICENSE\.md$
^README\.Rmd$
.DS_Store
**/.DS_Store
paper/*
inst/doc
/doc/
/Meta/
docs
..Rcheck/00check.log

